header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 10px auto 0;
    background-color: #C0C0C0;
}

a:-webkit-any-link {
    color: black;
}

.title {
    margin: 5px 0;
    text-align: center;
}

.category-header {
    position: fixed;
    top: 68px;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #C0C0C0;
}

.category {
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    box-shadow: 0 0 6px #e8e8e8;
    background-color: #C0C0C0;
    cursor: pointer;
}

.menu-index {
    margin: 134px auto 66px;
    width: 100%;
    justify-content: center;
}

.food-cards-wrapper {
    margin: 0 auto;
}

.food-card-wrapper {
    display: inline-block;
    margin: 5px 5px;
    width: 175px;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 6px #e8e8e8;
    border-radius: 4px;
}

.food-card {
    display: inline-block;
    width: 175px;
    height: auto;
    text-align: center;
    cursor: pointer;
}


.food-item-img {
    width: 170px; 
    height: 170px;
}

.food-item ul {
    padding-left: 0;
    margin: 0 auto;
}

.food-item ul li {
    list-style: none;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    margin: 120px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
}

.modal-food-info {
    font-size: 20px;
    text-align: center;
    margin: 10px auto 0;
}

.modal-food-img {
    width: 300px;
    height: 300px;
}

.modal-food-info ul {
    margin: 5px auto; 
    padding-left: 0;
}

.modal-food-info ul li {
    margin: 0 auto;
    list-style: none;
}

.counter {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.counter p {
    line-height: 1;
}

.count-btn {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 10px 50px;
}

.add-order-or-cancel-btn {
    display: flex;
    justify-content: center;
}

.cancel-btn {
    font-size: 16px;
    width: 120px;
    height: 35px;
    margin: 10px 20px;
}

.add-order-list-btn {
    font-size: 16px;
    width: 120px;
    height: 35px;
    margin: 10px 20px;
}

footer {
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #C0C0C0;
}

.footer-item {
    display: inline-block;
    padding: 16px 10px;
    text-align: center;
    box-shadow: 0 0 6px #e8e8e8;
    background-color: #C0C0C0;
    cursor: pointer;
}

.order-list {
    margin: 98px auto 86px;
}

.order-history {
    margin: 98px auto 86px;
}

table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}

table th {
    text-align: center;
    border-bottom: 1px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
}

table td {
    text-align: center;
    border: none;
}

.order-list-btn-wrapper {
    text-align: center;
    margin: 40px 0 0;
}

.delete-all-order-btn, .create-order-btn {
    display: inline-block;
    width: 126px;
    margin: 0 15px;
    text-align: center;
    background-color: #C0C0C0;
    cursor: pointer;
}

.bill-btn-wrapper {
    margin: 0 30px;
}

.bill-btn {
    height: 56px;
    width: 126px;
    margin: 0 0 0 auto;
    text-align: center;
    background-color: #C0C0C0;
    cursor: pointer; 
}

.bill-btn p {
    line-height: 56px;
}

.total-price {
    text-align: right;
    margin: 0 30px;
}

.empty-message {
    text-align: center;
    font-size: 20px
}
